@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "Balance";
}

<h2>Balance</h2>
<h4>Account Balance Due</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.MonthlyBalance)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MonthlyBalance)
    </dd>

</dl>
<form action="/Payment/Charge" method="POST">
    <article>
        <label>Amount: @Html.DisplayFor(model => model.MonthlyBalance)</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>
<br />
<div>
    @Html.ActionLink("Back to Menu", "Details")
</div>
</div>
<br />

