@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2><u>Account Menu</u></h2>
<p class="lead"><i>Welcome @ViewBag.Name</i> </p>

<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Change Your Pickup Date", "Index", "Customers") </h3>

</td>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Apply Special Pickup Date", "Extra", "Customers") </h3>

</td>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Click to View Monthly Balance Due", "Balance", "Customers") </h3>

</td>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Enter a Suspension of Pickups", "Suspension", "Customers") </h3>

</td>