@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "Suspension";
}

<h2>Suspension Dates</h2>
<br />
<h4>Please select your prefered suspension start day below.</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SuspendPickupStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SuspendPickupStartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SuspendPickupStartDate, "", new { @class = "text-danger" })
        </div>
        <h4>Please select your prefered suspension start end day below.</h4>
        @Html.LabelFor(model => model.SuspendPickupEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SuspendPickupEndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SuspendPickupEndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="SUBMIT" class="btn btn-default" />
    </div>
    
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

