@model IEnumerable<TrashCollector.Models.Pickup>
@{
    ViewBag.Title = "Pickup List";
}
<h2>Pickups In Your Area</h2>





<table class="table">
    <tr>

        @*<th>
                @Html.DisplayNameFor(model => model.Employee.Name)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.pickupStreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupCompleted)
        </th>

        <th></th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pickupStreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupCompleted)
            </td>
            <td>
                @Html.ActionLink("Confirm Pickup", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Map Pickup", "Map", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Map All Pickups In Your Area", "MapAll", "Employees") </h3>

</td>