@model TrashCollector.Models.Pickup
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    @{
        ViewBag.Title = "Map";
    }

</head>
<div>
    @Html.ActionLink("Back to Pickups", "Index")
</div>
<h2>Map</h2>
<div id="modal-map2" style="height: 76%;width: 76%; position: absolute; overflow: hidden;"></div>

<script>
        var geocoder;

        function initMap (callback) {
            var coordinates;
            geocoder = new google.maps.Geocoder();
            var latitude = 52.0000000;
            var longitute = 9.7000000;
            geocoder.geocode({ 'address': "@ViewBag.Address @ViewBag.City @ViewBag.State @ViewBag.ZipCode" }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();
                }

                //callback(coordinates);
                var uluru = new google.maps.LatLng(latitude, longitude);
                var map = new google.maps.Map(document.getElementById('modal-map2'), {
                    zoom: 15,
                    center: uluru,
                    mapTypeId: google.maps.MapTypeId.HYBRID,

                    zoomControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM
                    },
                    streetViewControl: true,
                    streetViewControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM
                    },
                });
                var marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(latitude, longitude) });
            })

        }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.APIKey&callback=initMap"
        async defer type="text/javascript"></script>



