<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jahneke Trash Collection Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top navbar-light" style="background-color: #e3f2fd; font-family: Georgia; font-style: oblique;">
        <div class="container-fluid">
            <div class="navbar-brand w-25">
              
                <img class="navbar-brand w-25" style="border-radius: 12px;" src="https://i.imgur.com/feYpA5V.jpg">
                @Html.ActionLink("Dialed In Collections", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
              
            <button type="button" class="float-xl-left  navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>

            </button>




            </a>
            <div class="navbar-collapse collapse text-right" id="navbarNav">
                <ul class="navbar-nav mr-auto m-lg-2 mt-lg-0">
                    <li class="nav-item active text-right">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item active text-right">@Html.ActionLink("Employee", "Index", "Employees")</li>
                    <li class="nav-item active text-right">@Html.ActionLink("Customer", "Details", "Customers")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Dialed In Trash Collection Services</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
